body {
  text-align: center;
  position:relative;
  font-family: sans-serif;
}

a {
  color: #369;
}

p {
  margin-top: 0;
}

.drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  margin: 50px auto;
  padding: 20px;
  display: inline-block;
}

.drop-area.highlight {
  border-color: rgb(0, 221, 250);
}

.fileName {
  display: inline-block;
}

.my-form {
  margin-bottom: 10px;
}

.fileElem {
  display: none;
}