# Last db dump date in YYYY-MM-dd format. You can change date to get DB state for specific date.
MOST_RECENT=
# Mail username for sending email notifications
MAIL_USERNAME=
# App password for sending email notifications
MAIL_PASSWORD=
# Mail username for sending email notifications
MAIL_FROM=